.home {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.home__header {
  display: flex;
  height: 15vh;
  justify-content: flex-end;
  padding-top: 0.5rem;
  align-items: center;
}
.home__header a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}
.home__header a:hover {
  text-decoration: underline;
}

.home__header > a:nth-last-of-type(2),
.home__header > a:nth-last-of-type(1) {
  text-decoration: none;
  color: gray;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.home__header > a:nth-last-of-type(2):hover,
.home__header > a:nth-last-of-type(1):hover {
  cursor: pointer;
  background-color: lightgray;
}
.home__header > a:nth-last-of-type(1) {
  width: 2.5rem;
  height: 2.5rem;
  padding: 16px;
  border-radius: 50%;
}

.home__bodyLogo > img {
  object-fit: contain;
  height: 20vh;
  width: 60vw;
  margin: 0 20vw;
}

.home__body {
  height: 30vh;
  width: 100%;
  position: relative;
}
.home__footer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  margin-top: 18vh;
  margin-bottom: 0;
}
.home__footerFirst {
  height: 7vh;
  background-color: #f2f2f2;
  color: #7c8386;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1.5rem;
}
.home__footerSecond {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1px solid #b5babd;
  background-color: #f2f2f2;
  padding: auto 1.5rem;
  font-size: 14px;
}
.home__footerSecond a {
  text-decoration: none;
  color: #7c8386;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
}
.footerLeft {
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: left;
}
.footerRight {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

@media screen and (max-width: 768px) {
  .home__footerFirst {
    height: 5vh;
    font-size: 14px;
  }
  .home__footerSecond {
    height: 10vh;
    font-size: 12px;
  }
  .footerLeft {
    display: none;
  }
  .footerRight {
    margin: 0 auto;
    padding-bottom: 0;
  }
}
